<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Google Fonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">


    <!-- Milligram CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">


    <!-- JsHighlight -->

    <script
        src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/highlight.min.js">
    </script>
    <link rel='stylesheet' href='/stylesheets/highlight.css' />
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <!-- My Style Sheet -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>