<nav id="nav-wrap">
    <div id="logo">
        <span class="has-text-weight-bold" id="logo">
            <div class="snippy">save</div>
            <div id="last-snippy"><span id="yellow">(</span>code<span
                    id="yellow">)</span></div>
        </span>
    </div>

</nav>