<nav class="navbar" id="nav-wrap">
  <div id="logo">
    <span class="has-text-weight-bold" id="logo">
      <div class="snippy">save</div>
      <div id="last-snippy">
        <span id="yellow">(</span>code<span id="yellow">)</span>
      </div>
    </span>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-danger m-2" href="/logout">Log Out</a>
        <p id="theme" class="m-1">Dark Mode</p>

        <label class="switch m-2">
          <input type="checkbox" onclick="switchTheme()" />
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>
</nav>
