<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="logo">
            <a href="/" class="navbar-item"> <span class="has-text-weight-bold"
                    id="logo">
                    <div class="snippy">save</div>
                    <div id="last-snippy"><span id="yellow">(</span>code<span
                            id="yellow">)</span></div>
                </span></a> </div>
        <div class="navbar-menu">
            <div class="navbar-start"><a class="navbar-item">

                    <div class="navbar-end">
                        <div class="navbar-item">

                </a>
            </div>
        </div>
    </div>
</nav>