<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <div class="logo">
                <span class="has-text-weight-bold" id="logo">
                    <div class="snippy">SNIPPY</div>
                    <div id="last-snippy">&lt;code&gt;</div>
                </span> </div>
            <div class="navbar-end">
                <div class="buttons">
                    <% if (user) { %>
                    <a class="button is-primary" href="/logout"><strong>Log
                            Out</strong></a>
                    <% } else { %>
                    <a class="button is-primary"
                        href="/auth/google"><strong>Login
                            with
                            Google</strong></a>
                    <% } %>
        </a>
    </div>
    </div>
</nav>