<div class="menu-wrap">

    <% if (user) { %>
    <div class="btn-wrap">
        <div class="buttons">
            <button class="button is-warning" id="modal-btn">
                <strong>New Snippet</strong>
            </button>
        </div>


    </div>
    <aside class="menu">
        <form action="">
            <p class="control has-icons-left">
                <input id="search" class="input" type="text"
                    placeholder="Search">
                <span class="icon is-left">
                    <i class="fas fa-search fa-2x" aria-hidden="true"></i>
                </span>

            </p>
        </form>
        <p class="menu-label">
            <bold>Languages:</bold>
        </p>
        <ul class="menu-list">

            <% let array1 = [] %>
            <% menu.forEach(function(t) { %>
            <% array1.push(t.language) %>
            <% }) %>
            <% let array2 = [...new Set(array1)] %>
            <% array2.forEach(function(m) { %>
            <li> <a id="link" href="/snippets/<%= m %>"> <img class="icon"
                        src="/images/<%= m %>.svg" alt=""> <%= m %></a>
            </li>

            <% }) %>


        </ul>
        <p class="menu-label">Snippet Names: </p>
        <p class="menu-label">Tags: </p>
        <div class="log-out">
            <a class="button is-danger" href="/logout">Log
                Out</a></div>
        <% } else { %>
        <a class="button is-primary" href="/auth/google"><strong>Login
                with
                Google</strong></a>
        <% } %>
</div>