<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <div class="buttons">


    <a class="button is-primary" href="/auth/google"><strong>Login
        with
        Google</strong></a>
    </a>
  </div>
  <p>Welcome to SnippyClips</p>
  <a href="/snippets">Continue</a>
</body>

</html>