<%- include('./partials/header') %>

<div class="login-box">
  <div class="login-content">
    <div class="card">
      <header class="card-header">
        <p class="card-header-icon">SnippyCode</p>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="buttons">


            <a class="button is-primary" href="/auth/google"><strong>Login
                with
                Google</strong></a>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<p>Welcome to SnippyClips</p>



</body>

</html>