<%- include('./partials/header') %>

<div class="box">
  <div class="login-content">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <div class="buttons">
            <a class="button is-warning" href="/auth/google"><strong>Login
                with
                Google</strong><i class="fas fa-sign-in-alt"></i></a>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>