<%- include('./partials/header') %>
<div class="login-container">
  <div class="wrap-login">

    <div id="login-buttons" class="buttons">
      <h1 class="logo-login">save<span id="yellow">(</span>code<span
          id="yellow">)</span>
      </h1>
      <a class="button is-warning" href="/auth/google"><strong>Login
          with
          Google</strong><i class="fas fa-sign-in-alt"></i></a>
      </a>

      <a href="https://github.com/nickmackenzie/code-save"> <i
          class="devicon-github-plain-wordmark colored"></i></a>

    </div>
  </div>
</div>
</body>

</html>