#login-buttons {
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(190, 190, 190, 0.678);
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 1px 7px 15px -10px rgba(179, 179, 179, 0.48);
    -moz-box-shadow: 1px 7px 15px -10px rgba(179, 179, 179, 0.48);
    box-shadow: 1px 7px 15px -10px rgba(179, 179, 179, 0.48);
}

.logo-login {
    padding: 50px;
    font-size: 2rem;
}


.devicon-github-plain-wordmark {
    font-size: 3rem;
    padding: 10px;
}