/* :root {

  --main-bg: #001f3f;
  --sec-bg: #043B5B;
  --hglt-bg: #33A8AB;
  --main-txt: #0d0d0d;
  --lght-hover: #4c5575;
} */
:root {

  --main-bg: #001f3f;
  --sec-bg: #043B5B;
  --hglt-bg: #33A8AB;
  --main-txt: #0d0d0d;
  --lght-hover: #4c5575;
}

html {
  height: 100%;
}

body {
  background-color: rgb(240, 240, 240);
  height: 100%;
  color: white;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

pre {
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.box {

  max-width: 500px;
  margin: 20px;
  padding: 20px;
}

label {
  color: black;
}

.panel {
  width: 200px;
  background-color: white;
}


.parent {
  display: grid;
  grid-template-columns: minmax(150px, 15%) 1fr;
}


.menu-wrap {
  background-color: white;
}

.yellow {
  padding: 0;

}

.menu {
  height: 100vh;
}

.menu-label {
  padding: 10px;
  font-size: 1.1rem;
}

#modal-btn {
  margin: 10px;
}

.menu-list {

  color: black;
}

h1 {
  color: black;
}


#delete-btn {
  margin-left: 350px;


}

#last-snippy {
  margin-bottom: 5px;
  opacity: .7;
}

li {
  color: black;
  font-size: 1.2rem;
}

.login-box {
  display: grid;
  place-items: center;
}

#box-logo {
  width: 72px;
}


code {
  max-width: 600px;
  max-height: 400px;
  min-height: 50px;
}

#delete-btn {
  margin-left: 450px;
  position: relative;
}

.snippet-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
}