:root {

  --main-bg: #001f3f;
  --sec-bg: #043B5B;
  --hglt-bg: #33A8AB;
  --main-txt: #0d0d0d;
  --lght-hover: #4c5575;
}

#logo {
  font-size: 1.8rem;

}

.navbar {
  border-bottom: 2px black solid;
}