:root {

  --main-bg: #001f3f;
  --sec-bg: #043B5B;
  --hglt-bg: #33A8AB;
  --main-txt: #0d0d0d;
  --lght-hover: #4c5575;
}

body {
  background-color: rgb(144, 144, 144);
}

#logo {
  font-size: 1.8rem;

}

.navbar {
  border-bottom: 2px black solid;
}

pre {
  margin: 0;
  padding: 0
}

.code-block {
  background-color: #eee;
  max-width: 400px;
  margin: 20px;
}