body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;

  background-color: rgb(32, 32, 32);
  color: white;
}

:root {
  --main-bg: #001f3f;
  --sec-bg: #043B5B;
  --hglt-bg: #33A8AB;
  --main-txt: #0d0d0d;
  --lght-hover: #4c5575;
}


#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  color: white;
  letter-spacing: 2px;
  font-size: 1.8rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
}

.navbar {

  background-color: rgb(54, 54, 54);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}



pre {
  margin: 0;
  padding: 0;

}

.box {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
  max-width: 320px;
  margin: 10px;
  padding: .1rem
}

label {
  color: black;
}

.panel {
  width: 200px;
  background-color: white;
}

.btn-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  padding: 10px;
}

.parent {
  display: grid;
  grid-template-columns: minmax(150px, 15%) 1fr;
}


.menu-wrap {
  background-color: rgb(46, 45, 45);
  color: white;
}

.yellow {
  padding: 0;

}

.menu {
  height: 100vh;
  color: white;
}

.menu-label {
  padding: 10px;
  font-size: 1.1rem;
}

#modal-btn {
  margin: 10px;
}

.menu-list {

  color: white;
}

h1 {
  color: black;
}


li {

  align-items: center;
  text-transform: capitalize;
  color: white;
  font-size: 1.4rem;
  width: 100%;
}

.login-box {
  display: grid;
  place-items: center;
}

#box-logo {
  width: 72px;
}

code {
  max-width: 600px;
  max-height: 400px;
  min-height: 50px;
  font-family: 'Poppins', serif;
}

.delete-btn {
  margin-top: 5px;
  margin-left: 290px;
  position: relative;
}

.snippet-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-transform: capitalize;
  line-height: 25px;
}

#yellow {
  color: #FAD85B
}

#snippet-data {
  font-size: 1.6rem;
  margin-left: 10px;
}

.fas {
  padding: 6px;
}

#link:hover {
  background-color: rgba(0, 0, 0, 0.445);
  color: white;
}


.log-out {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  opacity: .8;
}

#search::placeholder {
  color: black;
  font-size: .9rem;
  font-weight: 700;
}

#search:focus {
  border: 3px solid #FAD85B;
  opacity: 1;
}

.grid {
  display: flex;

}

#snippet-data {
  font-size: 1rem;

}

.edit-form {
  display: none;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.781);
  width: 400px;
  padding: 10px;
  position: absolute;
  flex-direction: column;
}

.fa-sign-in-alt {
  margin: 10px;
  opacity: .6;
}

.fa-sign-in-alt:hover {
  opacity: 1;
}

.edit-data {
  color: white;
}

#edit-box {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
  max-width: 350px;
  margin: 10px;
  padding: .4rem;
  text-align: center;
}

#edit-btn {
  margin: 6px;
  margin-left: 260px;
  margin-top: 12px;

  padding: 8px;
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.tags {
  padding: 4px;
  margin: 4px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 6px;
}

.tags a {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.404);
  text-transform: uppercase;
}


#circle-btn:hover {
  background-color: #F14668;
}

.block-title {
  display: flex;
  justify-content: start;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}

.fa-bars {
  color: white;
}

.hamburger {
  padding: 20px;
  margin-left: auto;
  cursor: pointer;
}