<%- include('../partials/header') %>



</html>

<!DOCTYPE html>
<html>

<head>
    <title>
        Bulma Dashboard example
    </title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="../dist/bulma-dashboard.min.css">
</head>

<body>
    <div class="dashboard is-full-height">
        <!-- left panel -->
        <div
            class="dashboard-panel is-medium has-thick-padding has-background-grey-lighter is-hidden-mobile">
            <header class="dashboard-panel-header">
                <div class="has-text-centered">
                    <div class="logo">
                        <a href="/" class="navbar-item"> <span
                                class="has-text-weight-bold" id="logo">
                                <div class="snippy">save</div>
                                <div id="last-snippy"><span
                                        id="yellow">(</span>code<span
                                        id="yellow">)</span></div>
                            </span></a> </div>
                </div>
            </header>

            <div class="dashboard-panel-content">
                <aside class="menu has-text-white">
                    <p class="menu-label">
                        Syntax:
                    </p>
                    <ul class="menu-list">
                        <div class="menu-wrap">
                            <div class="buttons">

                                <a class="button is-primary"
                                    href="/logout"><strong>Log
                                        Out</strong></a>



                                <button class="button is-primary"
                                    id="modal-btn">
                                    <bold>New Snippet</bold>
                                </button>

                                <aside class="menu">
                                    <p class="menu-label">
                                        <bold> Languages:</bold>
                                    </p>
                                    <ol>

                                        <!-- <li> <img class="icon" src="/images/bash.png" alt="">Bash</li>
                                        <li> <img class="icon" src="/images/c++.png" alt="">C++</li>
                                        <li><img class="icon" src="/images/css.svg" alt="">CSS</li>
                                        <li><img class="icon" src="/images/ejs.svg" alt="">EJS</li>
                                        <li><img class="icon" src="/images/html.svg" alt="">HTML</li>
                                        <li><img class="icon" src="/images/ini.png" alt="">.ini</li>
                                        <li><img class="icon" src="/images/java.svg" alt="">Java</li> -->
                                        <form action="">
                                            <li><img class="icon"
                                                    src="/images/javascript.svg"
                                                    alt="">Javasript
                                            </li>
                                        </form>
                                        <!-- <li><img class="icon" src="/images/json.svg" alt="">Json</li>
                                        <li><img class="icon" src="/images/lua.svg" alt="">Lua</li>
                                        <li><img class="icon" src="/images/markdown.svg" alt="">Markdown
                                        </li>
                                        <li><img class="icon" src="/images/php.svg" alt="">PHP</li>
                                        <li><img class="icon" src="/images/ython.svg" alt="">Phython
                                        </li>
                                        <li><img class="icon" src="/images/sass.png" alt="">Scss</li>
                                        <li><img class="icon" src="/images/sql.png" alt="">Sql</li>
                                        <li><img class="icon" src="/images/swift.svg" alt="">Swift</li>
                                        <li><img class="icon" src="/images/text.svg" alt="">Text</li>
                                        <li><img class="icon" src="/images/typescript.svg"
                                                alt="">Typescript
                                        </li>
                                        <li><img class="icon" src="/images/http.svg" alt="">http</li>
                                        <li><img class="icon" src="/images/nodejs.svg" alt="">nodeJs
                                        </li>
                                        <li><img class="icon" src="/images/ruby.svg" alt="">Ruby</li> -->
                                    </ol>


                            </div>
                    </ul>


                </aside>
            </div>
        </div>

        <!-- main section -->
        <div class="dashboard-main is-scrollable">
            <nav class="navbar is-fixed-top is-dark">
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            Fixed-top navbar
                        </span>
                    </div>
                </div>
            </nav>

            <section class="section">
                <p class="title is-size-2 is-spaced">
                    Welcome, Nick
                </p>



                <hr />

                <section class="content is-medium">

                </section>
            </section>

            <!-- the footer will take up all unused space at the bottom -->

        </div>

        <!-- right panel -->

    </div>
</body>

</html>