<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<%- include('../partials/modal') %>
<%- include('../partials/code-block') %>

</body>
<script defer src="/javascripts/modal.js"></script>

</html>